<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">{{nombre2}}</td>
          <td>capitalizado</td>
          <td>{{ nombre2 | capitalizado:true}}</td>
        </tr>
        <tr>
          <td scope="row">{{nombre}}</td>
          <td>uppercase</td>
          <td>{{ nombre | uppercase}}</td>
        </tr>
        <tr>
          <td scope="row">{{nombre}}</td>
          <td>lowercase</td>
          <td>{{ nombre | lowercase}}</td>
        </tr>
        <tr>
          <td scope="row">{{nombre}}</td>
          <td>slice:3</td>
          <td>{{ nombre | slice:3}}</td>
        </tr>
        <tr>
          <td scope="row">{{nombre}}</td>
          <td>slice:0:3</td>
          <td>{{ nombre | slice:0:3}}</td>
        </tr>
        <tr>
          <td scope="row">{{PI}}</td>
          <td>number</td>
          <td>{{ PI | number }}</td>
        </tr>
        <tr>
          <td scope="row">{{PI}}</td>
          <td>number '3.0-0'</td>
          <td>{{ PI | number:'3.0-0' }}</td>
        </tr>
        <tr>
          <td scope="row">{{PI}}</td>
          <td>number '.0-2'</td>
          <td>{{ PI | number:'.0-2' }}</td>
        </tr>
        <tr>
          <td scope="row">{{porcentaje}}</td>
          <td>Percent</td>
          <td>{{ porcentaje | percent }}</td>
        </tr>
        <tr>
          <td scope="row">{{porcentaje}}</td>
          <td>Percent:'2.2-2'</td>
          <td>{{ porcentaje | percent:'2.2-2' }}</td>
        </tr>
        <tr>
          <td scope="row">{{salario}}</td>
          <td>Currency</td>
          <td>{{ salario | currency }}</td>
        </tr>
        <tr>
          <td scope="row">{{salario}}</td>
          <td>Currency: 'CAD ':'symbol-narrow':'.0-0'</td>
          <td>{{ salario | currency:'CAD ':'symbol-narrow':'.0-0' }}</td>
        </tr>
        <tr>
          <td scope="row">{{valorPromesa}}</td>
          <td>async: </td>
          <td>{{ valorPromesa | async }}</td>
        </tr>
        <tr>
          <td scope="row">{{fecha}}</td>
          <td>date:'medium' </td>
          <td>{{ fecha | date:'medium' }}</td>
        </tr>
        <tr>
          <td scope="row">{{fecha}}</td>
          <td>date:'short' </td>
          <td>{{ fecha | date:'short' }}</td>
        </tr>
        <tr>
          <td scope="row">{{fecha}}</td>
          <td>date:'MMMM-dd' </td>
          <td>{{ fecha | date:'MMMM-dd' }}</td>
        </tr>
        <tr>
          <td scope="row">{{fecha}}</td>
          <td>date:'MMMM-dd':'':'{{idioma}}' 
            <br>
            <button type="button" (click)="cambiarIdioma('es')" class="btn btn-primary btn-lg m-1">Español</button>
            <button type="button" (click)="cambiarIdioma('en')" class="btn btn-primary btn-lg m-1">Ingles</button>
            <button type="button" (click)="cambiarIdioma('fr')" class="btn btn-primary btn-lg m-1">Francia</button>
          </td>
          <td>{{ fecha | date:'MMMM-dd':'':idioma }}</td>
        </tr>

        <tr>
          <td scope="row">{{nombre}}</td>
          <td>contrasena:{{activar}}
            <br>
            <button (click)="activar = !activar" class="btn btn-outline-warning">Activar</button>
          </td>
          <td>{{ nombre | contrasena:activar }}</td>
        </tr>
      </tbody>
    </table>

    <h4>Slice</h4>
    <ul>
      <li *ngFor="let item of arreglo | slice:5:15">{{item}}</li>
    </ul>

    <h3>JSON</h3>
    <hr>
    <div class="row mb-5 ">
      <div class="col">
        <pre>
          {{ heroe | json }}
        </pre>
      </div>
    </div>

    <h3 class="mt-4">DOM seguro</h3>
    <div class="row mb-5">
      <div class="col">
        <iframe 
        title="Video-music"
          width="560"
          height="315"
          [src]="videoURL | domseguro"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>